div.principi{
display: grid;
grid-template-columns: 1fr;
padding: 0px;
margin: 0px;
}
ol.stats{
    list-style: none;
    counter-reset: unset;
    width: 100%;
    font-family: 'Roboto';

}
div.RightContainer{
    background-color: aqua;
    width: 100%;
    padding: 0px;
    margin:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.LeftContainer{
    background-color: blueviolet;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img.img{
    max-width: 100%;
}
div.contain{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ol.other{
    list-style: none;
    margin:16px 0px;
    padding-left: 41px;
    width: 90%;
    height: 85%;
    align-items: center;
    font-family: 'Roboto';
}

li.listItem{
    font-size: 20px;
    align-items: center;

}
